@charset "UTF-8";
.clear{
    clear:both;
}
.over{
    overflow: hidden;
}
/*g-nav部分开始*/
.g-nav{
    text-align: center;
    background:#f7f7f7;
}
.g-nav .nav-tit{
    width:16.411%;
    background:#f77400;
    line-height: 78px;
    font-size:24px;
    color:#fff;
    float:left;
}
.g-nav  menu{
    float: left;
    font-size:14px;
}
.g-nav  menu a{
    display: inline-block;
    line-height: 40px;
    overflow: hidden;
    width:100px;
    font-weight: bold;
    color:#666;
}
.g-nav  menu a:hover{
    border:1px solid #f77400;
    color:#f77400;
    border-radius:20px;
    background:#fff;
    display: inline-block;
    overflow: hidden;
}
.g-nav  .honor a{
    border:1px solid #f77400;
    color:#f77400;
    border-radius:20px;
    background:#fff;
    display: inline-block;
    overflow: hidden;
}
.g-nav .nav-rig{
    float:right;
    line-height: 78px;
    color:#898989;
    font-size:14px;
}
.g-nav .nav-rig a{
    color:#898989;
}
.g-nav .nav-rig em{
    color:#f77400;
}
.g-nav .nav-rig a:hover{
    color:#f77400;
}
/*g-banner部分结束*/

/*荣誉资质开始*/
.nycon{
    margin-top:35px;
}
.nycon .honor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nycon .honor li{
    width:20%;
    margin:10px;
    -webkit-box-shadow: 0 0 8px #666 ;
    -moz-box-shadow: 0 0 8px #666 ;
    box-shadow: 0 0 8px #666 ;
    position: relative;
}
.nycon .honor img{
    max-height:100%;
    max-width:100%;
}
.honor .layer{
    text-align: center;
}
.honor li:hover .layer{
    display:block;
}
